{%extends 'base.html'%}
{% load static %}

{%block contents%}
<!-- /.feature section -->
<div id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <div class="form-card">
                    <h2 class="text-center">Admin Login Form</h2>
                    <form action="{% url 'AdminLoginCheck' %}" method="POST" class="text-primary" style="width:100%;">
                        {% csrf_token %}
                        <table style="width:100%;">
                            <tr>
                                <td colspan="2">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="loginid" required placeholder="Enter Login Id">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <input type="password" class="form-control" name="pswd" required placeholder="Enter password">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:20px;">
                                    <button class="btn btn-primary text-white" type="submit">Login</button>
                                </td>
                                <td style="padding:20px;">
                                    <button class="btn btn-default text-white" type="reset">Reset</button>
                                </td>
                            </tr>
                            {% if messages %}
                            <tr>
                                <td colspan="2">
                                    <div class="text-center" style="margin-top:12px;">
                                        {% for message in messages %}
                                            <span style="color:#ffdd57;">{{ message }}</span><br>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </form>
                </div>
            </div>


            </div>
        </div>

    </div>
</div>

{%endblock%}
