{%extends 'base.html'%}
{% load static %}

{%block contents%}
<!-- /.feature section -->
<div id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                <!-- /.feature title -->

                <h2>User Login Form</h2>

                <center>
                    <form action="{%url 'UserLoginCheck'%}" method="POST" class="text-primary" style="width:100%">
                        {% csrf_token %}
                        <table>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="loginid" required
                                           placeholder="Enter Login Id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="password" class="form-control" name="pswd" required
                                           placeholder="Enter password">
                                </div>
                            </div>
                            <tr>
                                <td style="padding:20px;">
                                    <button class="btn btn-block btn-primary text-white py-2 px-4"
                                            style="margin-left:20%;"
                                            type="submit">
                                        Login
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-block btn-primary text-white py-2 px-4"
                                            style="margin-left:20%;"
                                            type="reset">
                                        Reset
                                    </button>
                                </td>
                            </tr>

                            {% if messages %}
                            {% for message in messages %}
                            <font color='red'>{{ message }}</font>
                            {% endfor %}
                            {% endif %}

                        </table>

                    </form>

            </center>


            </div>
        </div>

    </div>
</div>

{%endblock%}
