{%extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}
<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax banner" style="background-image:url('{%static 'images/background.webp'%}');"
     data-img-width="2000" data-img-height="1325" data-diff="100">

    <div class="overlay">
        <div class="container">
            <div class="row">


                <div class="col-md-6">

                    <!-- /.main title -->

                    <!-- /.header paragraph -->

                </div>

                
            </div>
        </div>
    </div>
</div>

<!-- /.feature section -->
<div id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                <!-- /.feature title -->
            </div>
        </div>

    </div>
</div>

{%endblock%}